main {
    max-width: 1280px;
    margin: 0 auto;
}

.raleway-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}



/* Shared style */
.text-primary {
    color: #4E47FF;
}

.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none    
}
.btn-primary:hover {
    background-color: #030149;
cursor: pointer;}

/* header */
.image {
    background-image: url(/Assets/Hero-bg.png);
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
}

/* Nav style */

nav ul {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

.nav-title {
    font-weight: 900;
    font-size: 34px;
}

nav ul li {
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

/* Banner Style */
.banner {
    align-items: center;
}

.banner-contant {
    font-size: 65px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 160px 250px;
    text-align: center;
}

.btn-banner {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section One */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px auto;
}

.mini-wc {
    border-radius: 48px;
}

.section-1-head {
    font-size: 42px;
    font-weight: bold;
}

.sec-1-p {
    font-size: 18px;
    color: #78787a;
}

/* Section 2 */
.section-2 {
    background-color: #4d47ff52;
    border-radius: 15px;
}

.section-2 h1 {
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    padding: 40px 0;

}

.sec-2-card {

    display: flex;
    justify-content: space-around;
    padding-bottom: 40px
    ;

}

.sec-2-card h1 {
    font-size: 50px;
    color: #4E47FF;
    margin: 0;
    padding: 0;
}

.sec-2-card p {
    color:gray ;
    text-align: center;

}
/* Section 3 */
.sec-3-div-1{display:flex;
gap: 100px;}

.section-3 {
padding: 50px 20px;
background-color: #f0f4f8;
display: flex;
flex-direction: column;
}

.sec-3-head{
    font-size: 90px;
}
.sec-3-form{width: 50%  ;}


input[type="text"], input[type="email"], textarea{
    height: 50px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    margin-bottom: 24px;
}